<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auctioncal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InterestrateActivity"
            android:theme="@style/Base.V7.Theme.AppCompat.Dialog" />
        <activity
            android:name=".BjgActivity"
            android:label="보증금"
            android:theme="@style/Base.V7.Theme.AppCompat.Dialog" />
        <activity
            android:name=".InputActivity"
            android:label="금액 입력기"
            android:theme="@style/Base.V7.Theme.AppCompat.Dialog" />
        <activity
            android:name=".MainActivity"
            android:label="간이_경매 계산기">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>